<a href="https://colab.research.google.com/github/lucasbicalhobim/educacao/blob/main/Exercicio_1_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
caminhoo = "/content/drive/MyDrive/Colab Notebooks/Curso - Data Science Primeiros Passos/Análise dados de filmes/ml-latest-small/ratings.csv"
import pandas as pd 
notass = pd.read_csv(caminhoo)
notass.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
notass.columns = ["usuarioID", "filmeID", "nota", "momento"]
notass.head()

   usuarioID  filmeID  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [9]:
notass["nota"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [10]:
notass["nota"].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [16]:
print("Média = ",notass["nota"].mean())

Média =  3.501556983616962

In [17]:
print("Mediana = ",notass["nota"].median())

Mediana =  3.5